<header>
    <div class="auth-buttons">
        <button onclick="location.href='/registrar'">Registrarse</button>
        <button onclick="location.href='/login'">Iniciar sesión</button>
    </div>
    <img src="../../../assets/img/" alt="Fondo del restaurante">
    <div class="overlay"><br>
        <h1>l'Opulence</h1>
        <p>Un espacio donde la excelencia culinaria se encuentra con experiencias inolvidables, diseñadas para
            deleitar los sentidos y celebrar la exclusividad.</p>
    </div>
  </header>