<h1 routerLink="/home"></h1>
<nav>
  <ul>
      <!-- <li class="solo_menu_movil"><a href="/pag/InicioSesion.html">Inicio de sesion</a></li> -->
      <!-- <li class="solo_menu_movil"><a href="/pag/registrarse.html">Registrarse</a></li> -->
      <li><a routerLink="/home" routerLinkActive="activeLinkHome">Inicio</a></li>
      <li><a routerLink="/menu" routerLinkActive="activeLinkMenu">Menú</a></li>
      <li><a routerLink="/contacto" routerLinkActive="activeLinkContacto">Contacto</a></li>
      <li><a routerLink="/quienessomos" routerLinkActive="activeLinkQuienesSomos">¿Quienes somos?</a></li>
  </ul>
</nav>

