/*LOGIN*/
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.login-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-card h2 {
    margin-bottom: 20px;
    color: #4d3b24;
}

.login-card form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-card label {
    font-size: 1rem;
    color: #333;
    text-align: left;
}

.login-card input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f1e4;
    color: #333;
}

.login-card input:focus {
    outline: none;
    border-color: #8b5a2b;
}

.login-card button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #8b5a2b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-card button:hover {
    background-color: #a56b3a;
}