<div class="login-container">
    <div class="login-card">
        <h2>Iniciar Sesión</h2>
        <form action="#" method="post">
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" placeholder="Ingresa tu usuario" required>

            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required>

            <button type="submit"> <a href="/login"> Iniciar Sesión</a></button>

            <div class="links">
                <a routerLink="/home" routerLinkActive="activeLinkHome">¿Olvidaste tu contraseña?</a>
                <a routerLink="/registrar" routerLinkActive="activeLinkQuienesSomos">Crear una cuenta</a>
            </div>
        </form>
    </div>
</div>
