  <!-- RECOMENDACION DEL CHEF-->
  <br>

  <section class="section">
    <h2>RECOMENDACIÓNES DEL CHEF</h2>
    <div class="menu">
        <div class="platos">
            <img src="imagenes/comida/Cola de Langosta con Risotto al Azafrán.webp" alt="Langosta">
            <p><strong>Langosta</strong></p>
            <p>Langosta a la parrilla con salsa de mantequilla y vegetales de temporada.</p>
        </div>
        <div class="platos">
            <img src="imagenes/comida/Carne Wagyu con Reducción de Vino Tinto.webp" alt="Filete Wagyu">
            <p><strong>Filete Wagyu</strong></p>
            <p>Reduccion de vino tino, acompañado de puré de papas con
                trufa y espaárragos asados.</p>
        </div>
        <div class="platos">
            <img src="imagenes/postre/Postre 2.webp" alt="Millé-feuille">
            <p><strong>Millé-feuille</strong></p>
            <p>Capas de hojaldre crujiente, crema de vainilla y fresas frescas</p>
        </div>
    </div>


    <br>
    <!-- PLATOS PRINCIPALES -->
    <section class="section">
        <h2>PLATOS PRINCIPALES</h2>
        <section class="menu">
            <div class="platos">
                <img src="imagenes/comida/Rosas de salmon.webp" alt="Salmón">
                <p><strong>Rosas de Salmón Ahumado con Caviar</strong></p>
                <p>Presenta una elegante disposición de rosas hechas con salmón ahumado, acompañadas de caviar
                    negro que aporta un toque sofisticado.</p>
            </div>
            <div class="platos">
                <img src="imagenes/comida/Foie Gras con Reducción de Balsámico y Pera Caramelizada.webp"
                    alt="Foie Gras con Reducción de Balsámico y Pera Caramelizada">
                <p><strong>Foie Gras con Reducción de Balsámico y Pera Caramelizada</strong></p>
                <p>Combina un delicado trozo de foie gras con una reducción de balsámico que equilibra el sabor.
                    Está acompañado de finas láminas de pera caramelizada.</p>
            </div>


            <div class="platos">
                <img src="imagenes\comida\Cola de Langosta con Risotto al Azafrán.webp"
                    alt="Cola de Langosta con Risotto al Azafrán">
                <p><strong>Cola de Langosta con Risotto al Azafrán</strong></p>
                <p>Cremoso risotto infusionado
                    con azafrán. Adornado con hierbas frescas, microvegetales.</p>
            </div>
            <div class="platos">
                <img src="imagenes\comida\Carne Wagyu con Reducción de Vino Tinto.webp" 
                    alt="Carne Wagyu con Reducción de Vino Tinto">
                <p><strong>Carne Wagyu con Reducción de Vino Tinto</strong></p>
                <p> Láminas de carne wagyu selladas con una reducción
                    de vino tinto. Acompañado de puré de papa delicado y vegetales bebé rostizados.</p>
            </div>
            <div class="platos">
                <img src="imagenes\comida\Torre Vegetariana de Vegetales Asados y Queso de Cabra.webp"
                    alt="Torre Vegetariana de Vegetales Asados y Queso de Cabra">
                <p><strong></strong></p>
                <p>Una elegante opción vegetariana, con capas de berenjena, zucchini y pimientos asados,
                    intercaladas con queso de cabra cremoso. Coronado con glaseado balsámico, albahaca fresca y
                    flores comestibles.</p>
            </div>
            <div class="platos">
                <img src="imagenes/comida/Lubina a la Plancha con Quinoa al Cítrico.webp"
                    alt="Lubina a la Plancha con Quinoa al Cítrico">
                <p><strong></strong></p><!-- CAMBIAR -->
                <p>Lubina a la parrilla con salsa de mantequilla y vegetales de temporada. </p>
            </div>
        </section>

        <br>
        
        <section class="section">
            <h2> POSTRES </h2>
            <div class="menu">
                <div class="platos">
                    <img src="imagenes\postre\POSTRE 4.webp" alt="Tarta de Mousse de Chocolate">
                    <p><strong>Tarta de Mousse de Chocolate</strong></p>
                    <p>Cubierta con un glaseado
                        brillante de chocolate negro, decorada con hojas de oro comestible y frambuesas frescas.
                        </p>
                </div>
                <div class="platos">
                    <img src="imagenes\postre\POSTRE 5.webp" alt="Panna Cotta con Coulis de Frambuesa">
                    <p><strong>Panna Cotta con Coulis de Frambuesa</strong></p>
                    <p>Vainilla, coronada con un coulis de frambuesa y
                        adornada con flores comestibles y bayas frescas. </p>
                </div>
                <div class="platos">
                    <img src="imagenes\postre\POSTRE 6.webp" alt="">
                    <p><strong>Tarta de Caramelo Dorado</strong></p>
                    <p>Una tarta de caramelo con base de almendra crujiente, cubierta con un glaseado sedoso de
                        caramelo y decorada con hojuelas de oro comestible y un toque de crema batida. </p>
                </div>

            </div>
        </section>


        <!-- CAFES-->
        <section class="section">
            <h2> CAFÉS </h2>
            <div class="menu">
                <div class="platos">
                    <img src="imagenes\postre\CAFE 1.webp" alt="Capuccino">
                    <p><strong>Cappuccino de granos Árabes</strong></p>
                    <p>Espresso de granos arábica seleccionados, leche
                        vaporizada de textura sedosa y una espuma cremosa. </p>
                </div>
                <div class="platos">
                    <img src="imagenes\postre\MATCHA.webp" alt="MATCHA">
                    <p><strong>Da Hong Pao</strong></p>
                    <p>Un matcha latte preparado con té verde japonés de la más alta calidad. Textura cremosa y vibrante
                        color verde se realzan con un toque de arte en la superficie y un delicado polvo de oro
                        comestible. </p>
                </div>
                <div class="platos">
                    <img src="imagenes\postre\TE.webp" alt="TÉ">
                    <p><strong>Té Oolong</strong></p>
                    <p>Té chino tradicional, dorado, vibrante, con toques de limón, canela y hojas de menta fresca.</p>
                </div>
            </div>
        </section>


        <!-- COCTELES-->
        <section class="section">
            <h2>CÓCTELES</h2>
            <div class="cocktails">
                <div class="cocktail">
                    <img src="imagenes\coctel\Cosmopolitan.webp" alt="Cosmopolitan">
                    <p><strong>Cosmopolitan</strong></p>
                    <p>Cosmopolitan de color rosa vibrante, servido en una copa de martini con detalles
                        dorados. Está decorado con un twist de cáscara de naranja y un arándano.</p>
                </div>

                <div class="cocktail">
                    <img src="imagenes\coctel\Gin Tonic.jpg" alt="Gin Tonic">
                    <p><strong>Gin Tonic</strong></p>
                    <p>Gin tonic servido con un vaso alto de cristal con detalles dorados. EStá adornado con
                        rodajas de pepino, ruedas de lima y una ramita de menta.</p>
                </div>

                <div class="cocktail">
                    <img src="imagenes\coctel\Whisky.webp" alt="Whisky">
                    <p><strong>Whisky</strong></p>
                    <p>Old Fashioned clásico con base de whisky, servido en un vaso de cristal con borde
                        dorado. </p>
                </div>

                <div class="cocktail">
                    <img src="imagenes\coctel\Martini de Naranja con Romero.webp" alt="Cosmopolitan">
                    <p><strong>Martini de Naranja con Romero</strong></p>
                    <p>Cosmopolitan de color rosa vibrante, servido en una copa de martini con detalles
                        dorados. </p>
                </div>
                <div class="cocktail">
                    <img src="imagenes\coctel\Cóctel de Frambuesa y Menta.webp" alt="Gin Tonic">
                    <p><strong>Cóctel de Frambuesa y Menta</strong></p>
                    <p>Un cóctel en vaso alto con un tono rojo profundo, decorado con frambuesas frescas,
                        menta y un toque de azúcar glas, servido sobre una encimera de mármol sofisticada.
                    </p>
                </div>
                <div class="cocktail">
                    <img src="imagenes\coctel\Whisky.webp" alt="Whisky">
                    <p><strong>Cóctel Verde con Pepino y Lima:</strong></p>
                    <p>Un cóctel refrescante en una copa coupé, adornado con una rodaja de lima, un espiral
                        delicado de pepino y flores comestibles.</p>
                </div>
            </div>


        </section>
    </section>
