.section {
    margin-bottom: 40px;
}

.section h2 {
    color: #8b5a2b;
    border-bottom: 2px solid #8b5a2b;
    padding-bottom: 5px;
    text-align: center; /* Centrar el texto */
}
.section h5 {
    color: #4d4b48;
    padding-bottom: 5px;
    text-align: center; /* Centrar el texto */
    border-bottom: 2px solid #8b5a2b;
}



.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.platos {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
    background-color: #f8f1e4;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.platos img {
    width: 60%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cocktails {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.cocktail {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
    background-color: #f8f1e4;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cocktail img {
    width: 60%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cocktail p {
    margin: 0;
    color: #4d3b24;
}

.cocktail strong {
    font-size: 1.1rem;
    color: #8b5a2b;
}
