<div class="menu-container">


  


    <!-- RECOMENDACIONES DEL CHEF -->
    <section class="section">
      <h2>Recomendaciones del Chef</h2>
      <div class="menu">
        <div *ngFor="let plato of menu.recomendacion_chef" class="platos">
          <img [src]="plato.imagen" [alt]="plato.nombre">
          <p><strong>{{ plato.nombre }}</strong></p>
          <p>{{ plato.descripcion }}</p>
          <p><strong>Alergenos: </strong>{{ plato.alergenos.join(', ') }}</p>
          <button class="btn btn-primary rounded-pill px-3 " type="button">VER MAS</button>
        </div>
      </div>
    </section>
  
    

    <!-- PLATOS PRINCIPALES -->
    <section class="section">
      <h2>Platos Principales</h2>
      <div class="menu">
        <div *ngFor="let plato of menu.platos_principales" class="platos">
          <img [src]="plato.imagen" [alt]="plato.nombre">
          <p><strong>{{ plato.nombre }}</strong></p>
          <p>{{ plato.descripcion }}</p>
          <p><strong>Alergenos: </strong>{{ plato.alergenos.join(', ') }}</p>
        </div>
      </div>
    </section>
  
  

    <!-- POSTRES -->
    <section class="section">
      <h2>Postres</h2>
      <div class="menu">
        <div *ngFor="let plato of menu.postres" class="platos">
          <img [src]="plato.imagen" [alt]="plato.nombre">
          <p><strong>{{ plato.nombre }}</strong></p>
          <p>{{ plato.descripcion }}</p>
          <p><strong>Alergenos: </strong>{{ plato.alergenos.join(', ') }}</p>
        </div>
      </div>
    </section>
  


    <!-- CAFÉS -->
    <section class="section">
      <h2>Cafés</h2>
      <div class="menu">
        <div *ngFor="let plato of menu.cafes" class="platos">
          <img [src]="plato.imagen" [alt]="plato.nombre">
          <p><strong>{{ plato.nombre }}</strong></p>
          <p>{{ plato.descripcion }}</p>
          <p><strong>Alergenos: </strong>{{ plato.alergenos.join(', ') }}</p>
        </div>
      </div>
    </section>
  


    <!-- CÓCTELES -->
    <section class="section">
      <h2>Cócteles</h2>
      <div class="menu">
        <div *ngFor="let plato of menu.cocteles" class="platos">
          <img [src]="plato.imagen" [alt]="plato.nombre">
          <p><strong>{{ plato.nombre }}</strong></p>
          <p>{{ plato.descripcion }}</p>
          <p><strong>Alergenos: </strong>{{ plato.alergenos.join(', ') }}</p>
        </div>
      </div>
    </section>
  
  </div>
  
  
  