<br>

<section id="quienes-somos" class="section card">
    <h2>QUIENES SOMOS</h2>
    <p>Fundado en 2020, nuestro restaurante redefine la experiencia culinaria con sabores excepcionales,
        ingredientes de la más alta calidad y un ambiente que evoca lujo y sofisticación. Cada plato cuenta una
        historia, y cada detalle refleja nuestra dedicación al arte gastronómico.</p>
</section>

<section id="nuestra-historia" class="section card">
    <h2>NUESTRA HISTORIA</h2>
    <p>En medio de un mundo cambiante, decidimos dar vida a nuestra visión en 2020. Lo que comenzó como un sueño
        se transformó rápidamente en un referente de la alta cocina. Inspirados en la riqueza de las tradiciones
        culinarias y con un enfoque en la innovación, nuestro equipo ha creado un espacio donde cada plato
        cuenta una historia y cada detalle refleja nuestra dedicación.</p>
</section>

<section id="mision-vision-valores" class="section card">
    <h2>NUESTRA MISIÓN, VISIÓN Y VALORES</h2>
    <p> Misión: Crear momentos únicos a través de una cocina que deleite los sentidos y trascienda expectativas.</p>
    <p>Visión: Convertirnos en un referente de la gastronomía de lujo, reconocido por nuestra creatividad,
        calidad y servicio impecable.</p>
    <p>Valores: Excelencia, atención al detalle, innovación, sostenibilidad y hospitalidad.</p>
</section>


<section id="estrellas" class="section">
    <h2>ESTRELLAS MICHELIN</h2>
    <div class="estrellas">
        <div class="estrella">
            <img src="https://png.pngtree.com/png-clipart/20240822/original/pngtree-happy-cartoon-star-surrounded-by-stars-png-image_15826908.png" alt="Estrella michelin">
            <details>
                <summary>1 Estrella Michelin - "Un sueño hecho realidad." (2020)</summary>
                <p>Este reconocimiento es fruto del esfuerzo, pasión y dedicación de todo nuestro equipo.</p>
            </details>
        </div>
        <div class="estrella">
            <img src="https://png.pngtree.com/png-clipart/20240822/original/pngtree-happy-cartoon-star-surrounded-by-stars-png-image_15826908.png" alt="Estrella michelin">
            <details>
                <summary>2 Estrella Michelin - "Los sueños se construyen con pasión, esfuerzo y dedicación." (2022)</summary>
                <p>Este logro representa el esfuerzo, la dedicación y la pasión de nuestro equipo por ofrecer una
                    experiencia culinaria única. Agradecemos profundamente a nuestros clientes por su apoyo
                    incondicional, que nos ha inspirado a alcanzar este hito. Esta estrella es solo el comienzo de un camino lleno de retos y nuevas metas. ¡Gracias por ser parte de esta historia!</p>
            </details>
        </div>
        <div class="estrella">
            <img src="https://png.pngtree.com/png-clipart/20240822/original/pngtree-happy-cartoon-star-surrounded-by-stars-png-image_15826908.png" alt="Estrella michelin">
            <details>
                <summary>3 Estrella Michelin - "¡Hemos alcanzado un sueño extraordinario." (2024)</summary>
                <p>Este honor refleja la pasión, creatividad y dedicación de todo nuestro equipo. Gracias por acompañarnos en este viaje culinario único. ¡Seguimos soñando juntos!</p>
            </details>
        </div>
    </div>
</section>




<section id="premios" class="section">
    <h2>RECONOCIMIENTOS</h2>
    <div class="premios">
        <div class="premio">
            <img src="https://img.pikbest.com/origin/10/11/84/55XpIkbEsTkrV.jpg!w700wp" alt="DUBAI">
            <h3>Mejor Restaurante de Dubái </h3>
            <p>"Estamos honrados de recibir el premio al Mejor Restaurante de Dubái. Este reconocimiento es
                fruto de nuestra dedicación y pasión por la excelencia culinaria. ¡Gracias por ser parte de este
                viaje!"
            </p>
        </div>
        <div class="premio">
            <img src="https://img.pikbest.com/origin/10/11/84/55XpIkbEsTkrV.jpg!w700wp" alt="CARNE">
            <h3>Mejor Plato de Wagyu</h3>
            <p>"El premio al Mejor Plato de Wagyu es un logro que celebra nuestra creatividad y amor por los
                sabores únicos. Gracias a nuestro equipo y clientes por hacerlo posible."
            </p>
        </div>
    </div>
</section>